.container {
    max-width: 1920px;
}
.top-page {
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 44px;
    left: 0;
    top: 0;
    background-color: black;
    min-width: 670px;
}
body {
    background-color: red;
}
ul {
    margin: 0;
    padding: 0;
    height: 5%;
    list-style: none;
}
a {
    color: #969696;
}
ul li {
    float: left;
}
a {
    text-decoration: none;
    color: #969696;
}
ul li a {
    color: #969696;
    display: block;
}
.text-list-box {
    min-width: 370px;
    position: absolute;
    left: 15%;
    top: 30%;
    width: 40%;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}
.text-list::before {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
}
.phone-text:hover,
.phone-text:focus {
    text-decoration: underline;
}
.phone-svg {
    position: relative;
    left: -3%;
    right: 8.17%;
    top: 3.33%;
    bottom: 8.33%;
}
.login-box {
    min-width: 133px;
    position: absolute;
    left: 80%;
    top: 30%;
    width: 20%;
}
.login-box:hover,
.login-box:focus {
    text-decoration: underline;
}
.login-svg {
    position: absolute;
    left: -15px;
    top: 2%;
}
.login-text {
    width: 15%;
    height: 5%;
    top: 30%;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #969696;
}
.nav-page {
    position: absolute;
    min-width: 670px;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 44px;
    background: #0f0f0f;
}
.navigation{
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.porten-svg-1 {
    fill: #969696;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.porten-svg-1:hover {
    fill: white;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.nav-data {
    margin: 0;
    padding: 0;
}
ul li {
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.nav-list {
    padding: 10px 10px;
    text-align: center;
    transition-duration: 0.5s;
    transition-delay: 0.15ms;
}
.nav-list:hover {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    background: #1f1f1f;
}
.nav-list-text {
    display: block;
    height: 3.22em;
    padding-top: 17px;
    font-family: "PT Sans";
    font-style: normal;
    font-size: 0.85em;
    text-transform: uppercase;
    transition-duration: 0.5s;
    transition-delay: 0.15ms;
}
.nav-list-text:hover {
    color: #ffffff;
    transition-duration: 0.5s;
    transition-delay: 0.15ms;
}
.main-page-info {
    position: absolute;
    width: 100%;
    min-width: 100%;
    height: 810px;
    left: 0px;
    top: 124px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)),
        url(/photo/Rectangle\ 3.png) no-repeat;
    background-size: 100% 810px;
}
.porten-cpb-info {
    position: absolute;
    width: 17%;
    height: 40%;
    left: 42%;
    top: 20%;
}
.porten-border {
    position: absolute;
    width: 100%;
    height: 100%;
}
.porten-svg-2 {
    position: absolute;
    width: 45%;
    height: 30%;
    left: 25%;
    top: 30%;
}
.porten-line {
    position: absolute;
    width: 45%;
    height: 1%;
    left: 25%;
    top: 54%;
}
.cpb {
    position: absolute;
    width: 80%;
    height: 15%;
    left: 8%;
    top: 50%;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.lorem-text {
    position: absolute;
    width: 50%;
    height: 15%;
    left: 25%;
    top: 70%;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.season-2020-21 {
    position: absolute;
    width: 50%;
    height: 730px;
    left: 0px;
    top: 810px;
    background: #000000;
}
.season-2020-21-text {
    position: absolute;
    width: 35%;
    height: 39px;
    left: 25%;
    top: 93px;
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.line-season-2020-21 {
    position: absolute;
    width: 15%;
    height: 0.2%;
    left: 35%;
    top: 25%;
    border: 1px solid #ffffff;
}
.season-2020-21 > div {
    background: #191b1c;
}
