html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: "PT Sans";
    background-color: rgb(0, 0, 0);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}

.header-page-register {
    display: flex;
    width: 100%;
    height: 44px;
    background-color: black;
}
.header-page-register .data-list {
    height: inherit;
    display: flex;
}
.header-page-data-list {
    display: flex;
    width: 80%;
    margin-left: 15%;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.text-list {
    color: #969696;
}
.text-list::before {
    content: "|";
    padding-left: 16px;
    padding-right: 16px;
    color: #969696;
}
.phone-link {
    display: flex;
    align-items: center;
    text-align: center;
    color: #969696;
    text-decoration: none;
}
.phone-icon {
    padding-right: 10px;
}
.phone-link:hover,
.phone-linkr:focus {
    text-decoration: underline;
}
.login-register {
    margin-right: 10%;
}
.login-register-link {
    display: flex;
    align-items: center;
    text-align: center;
    color: #969696;
    text-decoration: none;
}
.login-register-link:hover,
.login-register-link:focus {
    text-decoration: underline;
}
.login-register-icon {
    padding-right: 5px;
}
.header-page-navigation {
    width: 100%;
    height: 80px;
    top: 44px;
    background-color: #0f0f0f;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.logo-porten :hover {
    fill: #969696;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.header-page-navigation .header-container {
    max-width: 1920px;
    width: 67%;
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    margin-left: 16%;
}
.navigation {
    padding-left: 0;
    margin-bottom: 0;
}
.nav-list {
    display: inline-block;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.nav-list:hover {
    background: rgb(75, 72, 72);
}
.text-nav {
    display: inline-block;
    text-decoration: none;
    color: #969696;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    padding-top: 30px;
}
.text-nav:hover {
    color: white;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.page-navigation {
    display: flex;
    flex-flow: row nowrap;
}
.shopping-cart {
    padding-top: 25px;
    padding-left: 10px;
}
.basket {
    width: 25px;
    height: 25px;
    fill: white;
}
.basket:hover {
    fill: #969696;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.main-page-presentation {
    max-width: 1920px;
    width: 100%;
    height: 810px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.001), rgba(15, 15, 15, 0.5)), url(/photo/Rectangle\ 3.png);
    background-repeat: no-repeat;
}
.presentation {
    text-align: center;
}
.porten-text {
    font-family: "Post No Bills Jaffna";
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #ffffff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line-under-poren {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spb {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 51.55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.borger-porten-text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lorem {
    text-align: center;
    color: #ffffff;
    padding-top: 600px;
    min-height: 200px;
}
.lorem-text {
    padding-right: 20%;
    padding-left: 20%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
}
.main-page-season-2020-21-new-collection {
    display: flex;
    max-width: 1920px;
    width: 100%;
    height: 730px;
}
.season-2020-21 {
    display: grid;
    max-width: 1040px;
    width: 100%;
    height: 730px;
    background-color: #000000;
}
.text-season {
    display: block;
    text-align: center;
    width: 1040px;
    height: 50px;
    margin-top: 92px;
}
.season-2020-21-louis-xvi-athos {
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.container-watch {
    display: grid;
    width: 1040px;
    grid-template-columns: 1fr 1fr 1fr;
}
.louis-xvi-athos {
    margin-left: 40px;
    align-items: center;
    width: 260px;
    height: 325px;
    background: #191b1c;
}
.watch-62050-1 {
    padding-top: 55px;
    padding-left: 23px;
    padding-right: 22px;
    padding-bottom: 56px;
}

.model {
    font-family: "Playfair Display";
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}
.price {
    font-family: "Playfair Display";
    font-size: 16px;
    line-height: 19px;
    color: #d0d0d0;
}
.new-collection {
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.5)), url(/photo/re-5.png), #000000;
    width: 880px;
    height: 730px;
    text-align: center;
    align-items: center;
}
.presentation-new-collection {
    padding-top: 553px;
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;
}
.catalog {
    padding-top: 20px;
}
.catalog-button {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px double rgb(255, 255, 255);
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.catalog-button:hover {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    color: #000000;
    background-color: #ffffff;
}
.catalog-button:active {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    color: #000000;
    background-color: #969696;
}
.section-photo-collection {
    display: flex;
    max-width: 1920px;
    width: 100%;
    height: 600px;
}
.photo-section {
    width: 880px;
    height: 600px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.5)), url(/photo/Rectangle\ 9.png), #000000;
}
.section-collection {
    width: 1040px;
    height: 600px;
    text-align: center;
    align-items: center;
    background-color: #000000;
}
.collection-2018 {
    margin-top: 100px;
    width: 1040px;
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.under-line-collection-2018 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.lorem-2 {
    margin-left: 285px;
    width: 471px;
    height: 173px;
    margin-bottom: 73px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
}
.button-view-collection {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 1px double rgb(255, 255, 255);
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.button-view-collection:hover {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    color: #000000;
    background-color: #ffffff;
}
.button-view-collection:active {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    color: #000000;
    background-color: #969696;
}
.aew-arrivals {
    display: grid;
    width: 1920px;
    height: 1289px;
}
.box-aew-arrivals {
    width: 1920px;
    text-align: center;
    background-color: #000000;
}
.arrivals-aew {
    margin-top: 120px;
    margin-bottom: 40px;
    width: 1920px;
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
}
.container-watch-2 {
    display: grid;
    padding-left: 340px;
    width: 1040px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.louis-xvi-athos-2 {
    margin-left: 40px;
    width: 260px;
    height: 325px;
    background: #191b1c;
}
.watch-62050-1-2 {
    padding-top: 55px;
    padding-left: 23px;
    padding-right: 22px;
    padding-bottom: 56px;
}

.model-2 {
    font-family: "Playfair Display";
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}
.price-2 {
    font-family: "Playfair Display";
    font-size: 16px;
    line-height: 19px;
    color: #d0d0d0;
}
.our-brands {
    max-width: 1920px;
    width: 100%;
    height: 362px;
    background-color: #0f0f0f;
    text-align: center;
    align-items: center;
}
.our-brands-text {
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.brands {
    display: flex;
    max-width: 1920px;
    width: 100%;
    padding-top: 98px;
    padding-left: 405px;
    padding-right: 405px;
    padding-bottom: 80px;
}
.img-brands {
    padding-left: 30px;
}
.about-the-store-nategories-newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    max-width: 1920px;
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.85)), url(/photo/Rectangle\ 15.png),
        #c4c4c4;
}
.about-the-store {

    width: 340px;
    height: 300px;
    padding-top: 80px;
}
.about-the-store-text {
    width: 151px;
    padding-bottom: 40px;
    font-family: "Playfair Display";
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
}
.lorem-3 {
    width: 350px;
    height: 147px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
}
.nategories {
    width: 340px;
    height: 300px;
}
.box{
    width: 370px;
    height: 150px;
    text-align: center;
    
}
.box a{
    padding: 10px 20px;
    background: black;
    color: #d0d0d0;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}
